.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

inst/rmarkdown/templates/xaringan/skeleton/skeleton_files
inst/rmarkdown/templates/xaringan/skeleton/libs
inst/rmarkdown/templates/xaringan/skeleton/*.html
fiddle.R
